$neutral: #f4f4f4;
$main: #233D4D;
$secondary: #F8B30E;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

  header {
    height: 100vh;

    nav {
      text-align: center;

      #hamburger {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 100%;

        z-index: 1;

        user-select: none;

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: fixed;
          top: 8px;
          left: 8px;
          
          cursor: pointer;
          
          opacity: 0;
          z-index: 2;
          
          -webkit-touch-callout: none;
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin: 5px;
          position: relative;
          
          background: $main;
          border-radius: 10px;
          
          z-index: 1;
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }

        span:first-child {
          transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }

        input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: $neutral;
        }
        
        input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        ul {
          display: block;
          position: absolute;
          list-style: none;
          width: 100%;
          height: auto;
          margin: -100px 0 0 -50px;
          padding-top: 100px;
          padding-bottom: 30px;
          background-color: $main;
          
          -webkit-font-smoothing: antialiased;
          
          transform-origin: 0% 0%;
          transform: translate(0, -100%);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

          a {
            color: $neutral;
            text-transform: uppercase;
            text-decoration: none;
          
            transition: color 0.4s;
            
            li {
              background-color: $main;
              padding: 1rem 0;
            }
          }
          
          a:hover {
            color: $secondary;
          }
        }

        input:checked ~ ul
        {
          transform: none;
        }
      }
    }

    #my-pic {
      padding-top: 100px;
      
      img {
        margin: auto;
        border-radius: 50%;
      }
    }
  }

  main {

  }

  footer {

  }
}