$neutral: #f4f4f4;
$main: #233D4D;
$secondary: #F8B30E;
$tertiary: #BF2441;

body {
  background-color: $neutral;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

  header {
    background-size: cover;
    background-image: url('../img/bg1.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;

    nav {
      text-align: center;

      #hamburger {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 100%;

        z-index: 1;

        user-select: none;

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: fixed;
          top: 8px;
          left: 8px;
          
          cursor: pointer;
          
          opacity: 0;
          z-index: 2;
          
          -webkit-touch-callout: none;
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin: 5px;
          position: relative;
          
          background: $main;
          border-radius: 10px;
          
          z-index: 1;
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }

        span:first-child {
          transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }

        input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: $neutral;
        }
        
        input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        ul {
          display: block;
          position: absolute;
          list-style: none;
          width: 100%;
          height: auto;
          margin: -100px 0 0 -50px;
          padding-top: 100px;
          padding-bottom: 30px;
          background-color: $main;
          
          -webkit-font-smoothing: antialiased;
          
          transform-origin: 0% 0%;
          transform: translate(0, -100%);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

          a {
            color: $neutral;
            text-transform: uppercase;
            text-decoration: none;
          
            transition: color 0.4s;
            
            li {
              background-color: $main;
              padding: 1rem 0;
            }
          }
          
          a:hover {
            color: $secondary;
          }
        }

        input:checked ~ ul
        {
          transform: none;
        }
      }
    }

    #my-pic {
      padding-top: 100px;
      
      img {
        display: block;
        margin: auto;
        width: 250px;
        height: auto;
        border-radius: 30% 0;
        box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
      }
    }

    h1 {
      padding-top: 20px;
      text-align: center;
      color: $main;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.15);      
    }
    
    p { 
      text-align: center;
      color: $main;
      max-width: 90%;
      margin: auto;
      
      color: lighten($color: $main, $amount: 20%)
    }
  }

  main {
    
    #projects {
      background-color: $secondary;
      
      h1 {
        margin: 0;
        text-align: center;
        padding: 50px;
        color: $main;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.15);
      }
      
      .project {
        width: 100%;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        
        a {
          text-decoration: none;
          h3 {
            color: $main;
          }

          p {
            color: $main;
            text-align: center;
            margin: auto;
            width: 80%;
            padding-bottom: 20px;
          }

          img {
            width: 80%;
            box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.15);
          }
        }
      }
    }
    
    #what-i-know {
      background-color: $main;
      margin: 0;
      padding: 0;
      
      ul {
        margin: 0;
        list-style-type: none;
      }
    }

    #about-me {
      height: 10px;
      background-color: $secondary;
    }
  }
  
  footer {    
    background-color: $secondary;
    margin: 0;
    padding: 0;
    
    #contact {
      ul {
        margin: 0;
      }
    }

    p {
      margin: 0;
    }
  }
}