body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body header {
  height: 100vh;
}

body header nav {
  text-align: center;
}

body header nav #hamburger {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header nav #hamburger input {
  display: block;
  width: 40px;
  height: 32px;
  position: fixed;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

body header nav #hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px;
  position: relative;
  background: #233D4D;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body header nav #hamburger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body header nav #hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body header nav #hamburger input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #f4f4f4;
}

body header nav #hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body header nav #hamburger input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

body header nav #hamburger ul {
  display: block;
  position: absolute;
  list-style: none;
  width: 100%;
  height: auto;
  margin: -100px 0 0 -50px;
  background-color: #233D4D;
  padding-top: 90px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body header nav #hamburger ul a {
  color: #f4f4f4;
  text-transform: uppercase;
  text-decoration: none;
}

body header nav #hamburger ul a li {
  padding: 1rem 0;
}

body header nav #hamburger input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

body header #my-pic {
  padding-top: 100px;
}
/*# sourceMappingURL=main.css.map */