// Last edit 06/09/2018
$neutral: #f4f4f4;
$neutral-dark: darken($neutral, 10%);
$blue: #2196F3;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $neutral;
    height: 100vh;
    margin: 0;
    
    h1 {
        margin: 0;
        padding: 2rem 0;
        width: 100%;
        text-align: center;
        display: block;
    }

    form {
        display: flex;
        justify-content: center;

        div {
            margin: 1rem;
            display: flex;
            align-items: center;
        }

        div:hover {
            cursor: pointer;

            .checkmark {
                background-color: $neutral-dark;
            }
        }

        input[type=radio] {
            opacity: 0;
            position: absolute;
        }

        input:checked + .checkmark::after {
            content: '';
            display: block;
            position: relative;
            top: 10px;
            left: 10px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: white;
        }

        input:checked + .checkmark {
            background-color: $blue;
        }

        .checkmark {
            height: 33px;
            width: 33px;
            background-color: $neutral-dark;
            border-radius: 50%;
            margin: 7px;
        }
    }

    #link {
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
            text-decoration: none;
            color: $blue;
        }
    }
}