* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    --main-color: #fdc44a;
    --secondary-color: #16191f;
    --neutral-color: #f4f4f4;
}

html {
    background-color: var(--secondary-color);
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 0;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

header {
    opacity: 1;
    text-align: center;
    grid-area: header;
    background: url('img/chave.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: var(--neutral-color);
    text-align: center;
    grid-area: main;
}

footer {
    /* background-color: var(--main-color); */
    text-align: center;
    grid-area: footer;
}

footer p {
    margin-top: 20px;
    color: var(--main-color);
}

header h1 {
    padding: 3rem 0;
    color: var(--main-color);
    letter-spacing: 0.1rem;
}

header h2 {
    color: var(--neutral-color);
    padding: 1rem;
    display: inline-block;
    letter-spacing: 0.1rem;
}

header p {
    display: inline;
    padding-right: 0.6rem;
    color: var(--neutral-color);
}

header p strong {
    letter-spacing: 0.1rem;
}

.input-section {
    margin: 1rem 0;
}

input, 
select {
    padding: 1rem;
    border-style: none;
    border-radius: 3rem;
}

input:focus, 
select:focus, 
button:focus {
    outline: 0;
}

button {
    background-color: var(--main-color);
	display: inline-block;
	cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    border: solid 0.2rem var(--main-color);
    border-radius: 3rem;
}

button:hover {
    cursor: pointer;
}

#result {
    display: inline-block;
    color: var(--neutral-color);
    padding: 1rem;
    margin: 1.5rem;
}

#result h2 {
    padding: 0;
}

#result p {
    padding: 0;
}

table {
    width: 100%;
    margin: 1rem 0;
}

tr:nth-child(even) {
    background-color: #dddddd;
}