body {
    background-color: bisque;
    /* font-family: 'Fira Sans', sans-serif; */
}

.scroller {
    position: fixed;
    top: 50%;
    right: 2%;
    height: 100%;
}

.pages {
    list-style-type: none;
}

.jumbotron {
    text-align: center;
    height: 100vh;
    padding: 0;
    background-image: url("C:/Users/bunho/Desktop/Projetos/BrunoAndreMattos.github.io/OtherThing/images/blackbeef.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* #main-title {
    color: #017279;
} */

#title-and-sub {
    margin-top: 10em;
    padding: 3em;
}

.navbar {
    background-color:rgba(255, 255, 255, 0.5);
}