html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background: url(../../aaa.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000a38+0,000a38+24,293470+100 */
  width: 100%;
  height: 100vh;
}

@media (min-width: 840px) {
  body header {
    height: auto;
  }
}

body header nav {
  text-align: center;
}

body header nav #hamburger {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 840px) {
  body header nav #hamburger {
    position: relative;
    top: 0;
    left: 0;
  }
}

body header nav #hamburger input {
  display: block;
  width: 40px;
  height: 32px;
  position: fixed;
  top: 8px;
  left: 8px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

@media (min-width: 840px) {
  body header nav #hamburger input {
    display: none;
  }
}

body header nav #hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px;
  position: relative;
  background: #f4f4f4;
  border-radius: 10px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media (min-width: 840px) {
  body header nav #hamburger span {
    display: none;
  }
}

body header nav #hamburger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body header nav #hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body header nav #hamburger input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #233D4D;
}

body header nav #hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body header nav #hamburger input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

body header nav #hamburger ul {
  display: block;
  position: absolute;
  list-style: none;
  width: 100%;
  height: auto;
  margin: -100px 0 0 -50px;
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body header nav #hamburger ul li {
  color: #233D4D;
  font-size: 20px;
  text-decoration: none;
  padding: 15px 0;
}

body header nav #hamburger ul li a {
  text-decoration: none;
  color: #233D4D;
}

@media (min-width: 840px) {
  body header nav #hamburger ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: auto;
    padding: 0;
    padding-bottom: 30px;
    background-color: rgba(244, 244, 244, 0);
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body header nav #hamburger ul li {
    padding: 10px;
    margin: 20px 0;
    margin-left: 2rem;
    font-size: 18px;
    color: #f4f4f4;
    cursor: pointer;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
  }
  body header nav #hamburger ul li a {
    text-decoration: none;
    color: #f4f4f4;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
  }
  body header nav #hamburger ul li a:hover {
    color: #FFC02E;
  }
  body header nav #hamburger ul li:hover {
    color: #FFC02E;
  }
}

body header nav #hamburger input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

body header #click-aux {
  height: 100vh;
}

@media (min-width: 840px) {
  body header #click-aux {
    height: auto;
  }
}

body header #click-aux #my-pic {
  padding-top: 100px;
}

body header #click-aux #my-pic img {
  display: block;
  margin: auto;
  width: 180px;
  height: auto;
  border-radius: 30% 0;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.4);
}

@media (min-width: 840px) {
  body header #click-aux #my-pic img {
    width: 250px;
  }
}

@media (min-width: 840px) {
  body header #click-aux #my-pic {
    padding-top: 200px;
  }
}

body header #click-aux h1 {
  text-align: center;
  color: #f4f4f4;
}

@media (min-width: 840px) {
  body header #click-aux h1 {
    padding: 40px;
    font-size: 40px;
    letter-spacing: 1px;
  }
}

body header #click-aux p {
  text-align: center;
  max-width: 90%;
  margin: auto;
  color: #f4f4f4;
}

@media (min-width: 840px) {
  body header #click-aux p {
    padding-bottom: 300px;
    letter-spacing: 1px;
  }
}

body main {
  margin: 0;
  padding: 0;
}

body main h1 {
  text-align: center;
  color: #233D4D;
  margin: auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 8px;
  border-bottom: solid #233D4D 4px;
}

@media (min-width: 840px) {
  body main h1 {
    font-size: 40px;
  }
}

@media (min-width: 840px) {
  body main #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body main #projects .project {
  width: 100%;
  padding: 10px 0;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

@media (min-width: 840px) {
  body main #projects .project {
    width: 500px;
    padding: 50px 0;
  }
  body main #projects .project a:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

body main #projects .project a {
  text-decoration: none;
}

body main #projects .project a img {
  width: 80%;
  -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 840px) {
  body main #projects .project a img {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: opacity(90%);
            filter: opacity(90%);
  }
}

body main #projects .project a h3 {
  color: #233D4D;
  margin: auto;
  padding: 20px 0;
  width: 80%;
}

@media (min-width: 840px) {
  body main #projects .project a h3 {
    font-size: 22px;
  }
}

body main #projects .project p {
  color: #233D4D;
  margin: auto;
  width: 80%;
  padding-bottom: 20px;
}

body main #what-i-know {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d33d58+0,d62445+100 */
  margin: 0;
  padding: 0;
}

body main #what-i-know h1 {
  text-align: center;
  color: #f4f4f4;
  margin: auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 8px;
  border-bottom: solid #f4f4f4 4px;
}

@media (min-width: 840px) {
  body main #what-i-know h1 {
    font-size: 40px;
  }
}

body main #what-i-know ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #f4f4f4;
  padding-bottom: 50px;
}

@media (min-width: 840px) {
  body main #what-i-know ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 840px) {
  body main #what-i-know ul li {
    width: 600px;
    padding-top: 30px;
  }
}

body main #what-i-know ul li h2 {
  padding-top: 20px;
  color: #f4f4f4;
}

body main #what-i-know ul li .prog-shape {
  height: auto;
  width: 80%;
  margin: 18px auto;
  border-radius: 10px;
}

body main #what-i-know ul li .prog-shape p {
  color: white;
  padding: 3px;
  margin: 0;
}

body main #what-i-know ul li .prog-shape #html {
  background-color: #f4f4f4;
  height: 25px;
  width: 97%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #css {
  background-color: #f4f4f4;
  height: 25px;
  width: 90%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #javascript {
  background-color: #f4f4f4;
  height: 25px;
  width: 85%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #node {
  background-color: #f4f4f4;
  height: 25px;
  width: 15%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #bootstrap {
  background-color: #f4f4f4;
  height: 25px;
  width: 75%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #php {
  background-color: #f4f4f4;
  height: 25px;
  width: 55%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #sql {
  background-color: #f4f4f4;
  height: 25px;
  width: 15%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #python {
  background-color: #f4f4f4;
  height: 25px;
  width: 75%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #django {
  background-color: #f4f4f4;
  height: 25px;
  width: 15%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #c {
  background-color: #f4f4f4;
  height: 25px;
  width: 65%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li .prog-shape #git {
  background-color: #f4f4f4;
  height: 25px;
  width: 75%;
  border-radius: 0 10px 0 10px;
}

body main #what-i-know ul li h4 {
  display: inline-block;
  padding-right: 5px;
  margin: auto;
  letter-spacing: 2px;
  font-size: 12px;
}

body main #what-i-know ul li .plus {
  display: inline-block;
  padding: 5px;
  border: 2px solid #f4f4f4;
  border-radius: 10px;
  margin: 3px;
  letter-spacing: 1px;
  font-size: 12px;
}

body footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#233d4d+0,193b51+41,1e6991+100 */
  margin: 0;
  padding: 0;
}

body footer #contact {
  margin: auto;
  padding-bottom: 30px;
}

body footer #contact h1 {
  text-align: center;
  color: #f4f4f4;
  margin: auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 8px;
  border-bottom: solid #f4f4f4 4px;
}

@media (min-width: 840px) {
  body footer #contact h1 {
    margin-bottom: 80px;
  }
}

body footer #contact #icons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

body footer #contact #icons a {
  margin: auto;
  padding: 10px;
  text-decoration: none;
}

@media (min-width: 840px) {
  body footer #contact #icons a {
    padding: 20px;
  }
}

body footer #contact #icons a .svg {
  fill: #f4f4f4;
}

@media (min-width: 840px) {
  body footer #contact #icons a .svg {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 840px) {
  body footer #contact #icons a .svg:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    fill: #FFC02E;
  }
}

body footer p {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #f4f4f4;
  letter-spacing: 1px;
  font-size: 12px;
}

body footer p a {
  color: #f4f4f4;
}
/*# sourceMappingURL=main.css.map */