$neutral: #FFFFFF;
$main: #3A5199;     
$secondary: #2F2E33;
$tertiary: rgb(241, 165, 1);

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;

  background: url(../img/bg.jpeg) no-repeat center center fixed; 
  background-size: cover;

  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  
  header {   
    width: 100%;
    height: 100vh;

    @include desktop() {
      height: auto;
    }
    
    nav {
      text-align: center;
      
      #hamburger {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 100%;
        z-index: 1;
        user-select: none;

        @include desktop() {
          position: relative;
          top: 0;
          left: 0;
        }

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: fixed;
          top: 8px;
          left: 8px;
          
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          -webkit-touch-callout: none;

          @include desktop() {
            display: none;
          }
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin: 5px;
          position: relative;
          
          background: $neutral;
          border-radius: 10px;
          
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
          
          @include desktop() {
            display: none;
          } 
        }

        span:first-child {
          transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }

        input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: $secondary;
        }
        
        input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        ul {
          display: block;
          position: absolute;
          list-style: none;
          width: 100%;
          height: auto;
          margin: -100px 0 0 -50px;
          padding-top: 100px;
          padding-bottom: 20px;
          background-color: $neutral;

          -webkit-font-smoothing: antialiased;
          transform-origin: 0% 0%;
          transform: translate(0, -100%);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

          li {
            color: $secondary;
            font-size: 20px;
            text-decoration: none;
            padding: 15px 0;

            a {
              text-decoration: none;
              color: $secondary;
            }
          }
        }

        @include desktop() {
          ul {
            display: flex;
            margin: 0;
            height: auto;
            padding: 0;
            padding-bottom: 30px;
            background-color: rgba($neutral, 0%);
            transform: none;
            justify-content: flex-start;

            li {
              padding: 10px;
              margin: 20px 0;
              margin-left: 2rem;
              font-size: 18px;
              color: $neutral;
              cursor: pointer;
              transition: color 0.25s ease-in-out;

              a {
                text-decoration: none;
                color: $neutral;

                transition: color 0.25s ease-in-out;
              }

              a:hover {
                color: $tertiary;
              }
            }

            li:hover {
              color: $tertiary;
            }
          }
        }

        input:checked ~ ul {
          transform: none;
        }

      }
    }

    #click-aux {
      height: 100vh;

      @include desktop() {
        height: auto;
      }
      
      #my-pic {
        padding-top: 100px;
        
        img {
          display: block;
          margin: auto;
          width: 180px;
          height: auto;
          border-radius: 30% 0;
          box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.4);

          @include desktop() {
            width: 250px;
          }
        }

        @include desktop() {
          padding-top: 200px;
        }
      }

      h1 {
        text-align: center;  
        color: $neutral;  

        @include desktop() {
          padding: 40px;
          font-size: 40px;
          letter-spacing: 1px;
        }
      }
      
      p { 
        text-align: center;
        max-width: 90%;
        margin: auto;
        color: $neutral;
        
        @include desktop() {
          padding-bottom: 300px;
          letter-spacing: 1px;
        }
      }
    }
  }

  main {
    margin: 0;
    padding: 0;

    h1 {
      text-align: center;
      color: $neutral;

      margin: auto;
      margin-bottom: 50px;
      width: fit-content;
      padding-top: 50px;
      padding-bottom: 8px;
      border-bottom: solid $neutral 4px; 

      @include desktop() {
        font-size: 40px;
      }
    }

    #projects {
      @include desktop() {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
          
      .project {
        width: 100%;
        padding: 10px 0;
        padding-bottom: 30px;
        margin: 0;
        text-align: center;

        
        @include desktop() {
          width: 500px;
          padding: 50px 0;

          a {
            h3 {
              transition: color 0.4s ease;
            }
          }

          a:hover {
            img {
              transform: scale(1.05);
              filter: opacity(100%);
            }

            h3 {
              color: $tertiary;
            }
          }
        }
        
        a {
          text-decoration: none;
          
          img {
            @include desktop() {
              transition: all 0.25s ease-in-out;
              transform: scale(1);
              filter: opacity(90%);
            }
            width: 80%;
            box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.2);
          }

          h3 {
            color: $neutral;
            margin: auto;
            padding: 20px 0;
            width: 80%;

            @include desktop() {
              font-size: 22px;
            }
          }
        }

        p {
          color: $neutral;
          margin: auto;
          width: 80%;
          padding-bottom: 20px;
        }
      }
    }
    
    #what-i-know {
      margin: 0;
      padding: 0;
      
      h1 {
        text-align: center;
        color: $neutral;

        margin: auto;
        margin-bottom: 50px;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 8px;
        border-bottom: solid $neutral 4px; 

        @include desktop() {
          font-size: 40px;
        }
      }

      ul {
        text-align: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        color: $neutral;
        padding-bottom: 50px;

        @include desktop() {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        li {

          @include desktop() {
            width: 600px;
            padding-top: 30px;
          }

          h2 {
            padding-top: 20px;
            color: $neutral;
          }

          .prog-shape {
            height: auto;
            width: 80%;
            margin: 18px auto;
            border-radius: 10px;

            p {
              color: lighten($tertiary, 60%);
              padding: 3px;
              margin: 0;
            }

            #html {
              background-color: $neutral;
              height: 25px;
              width: 97%;
              border-radius: 0 10px 0 10px;
            }

            #css {
              background-color: $neutral;
              height: 25px;
              width: 90%;
              border-radius: 0 10px 0 10px;
            }

            #javascript {
              background-color: $neutral;
              height: 25px;
              width: 85%;
              border-radius: 0 10px 0 10px;
            }
            
            #node {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #bootstrap {
              background-color: $neutral;
              height: 25px;
              width: 75%;
              border-radius: 0 10px 0 10px;
            }

            #php {
              background-color: $neutral;
              height: 25px;
              width: 55%;
              border-radius: 0 10px 0 10px;
            }

            #sql {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #python {
              background-color: $neutral;
              height: 25px;
              width: 75%;
              border-radius: 0 10px 0 10px;
            }

            #django {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #react {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #c {
              background-color: $neutral;
              height: 25px;
              width: 65%;
              border-radius: 0 10px 0 10px;
            }

            #git {
              background-color: $neutral;
              height: 25px;
              width: 75%;
              border-radius: 0 10px 0 10px;
            }
          }

          h4 {
            display: inline-block;
            padding-right: 5px;
            margin: auto;
            letter-spacing: 2px;
            font-size: 12px;
          }

          .plus {
            display: inline-block;
            padding: 5px;
            border: 2px solid $neutral;
            border-radius: 10px;
            margin: 3px;
            letter-spacing: 1px;
            font-size: 12px;
          }
        }
      }
    }
  }
  
  footer {    
    margin: 0;
    padding: 0;
    
    #contact {
      margin: auto;
      padding-bottom: 30px;

      h1 {
        text-align: center;
        color: $neutral;

        margin: auto;
        margin-bottom: 50px;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 8px;
        border-bottom: solid $neutral 4px; 

        @include desktop() {
          margin-bottom: 80px;
        }
      }
      
      #icons {
        width: fit-content;
        margin: auto;
        a {
          margin: auto;
          padding: 10px;
          text-decoration: none;
  
          @include desktop() {
            padding: 20px;
          }

          .svg {
            @include desktop() {
              transition: transform 0.25s ease-in-out;
              transform: scale(1);
            }
            fill: $neutral;
          }
          
          .svg:hover {
            @include desktop() {
              transform: scale(1.2);
              fill: $tertiary;
            }
          }
        }
      }
    }

    p {
      text-align: center;
      margin: 0;
      padding: 10px;
      color: $neutral;
      letter-spacing: 1px;
      font-size: 12px;

      a {
        color: $tertiary;
      }
    }
  }
}