$neutral: #f4f4f4;
$main: #233D4D;     
$secondary: #FFC02E;
$tertiary: #FF113D;

body {
  scroll-behavior: smooth;
  background-color: $neutral;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  
  header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#233d4d+0,193b51+41,1e6991+100 */
    background: #233d4d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #233d4d 0%, #193b51 41%, #1e6991 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #233d4d 0%,#193b51 41%,#1e6991 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #233d4d 0%,#193b51 41%,#1e6991 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233d4d', endColorstr='#1e6991',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width: 100%;
    height: 100vh;
    
    nav {
      text-align: center;
      
      #hamburger {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 100%;
        z-index: 1;
        user-select: none;

        input {
          display: block;
          width: 40px;
          height: 32px;
          position: fixed;
          top: 8px;
          left: 8px;
          
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          -webkit-touch-callout: none;
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin: 5px;
          position: relative;
          
          background: $neutral;
          border-radius: 10px;
          
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }

        span:first-child {
          transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }

        input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: $main;
        }
        
        input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        ul {
          display: block;
          position: absolute;
          list-style: none;
          width: 100%;
          height: auto;
          margin: -100px 0 0 -50px;
          padding-top: 100px;
          padding-bottom: 20px;
          background-color: $neutral;

          -webkit-font-smoothing: antialiased;
          transform-origin: 0% 0%;
          transform: translate(0, -100%);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

          a {
            color: $main;
            font-size: 20px;
            text-decoration: none;
          
            transition: color 0.4s;
            
            li {
              padding: 15px 0;
            }
          }
        }

        input:checked ~ ul {
          transform: none;
        }
      }
    }

    #my-pic {
      padding-top: 100px;
      
      img {
        display: block;
        margin: auto;
        width: 180px;
        height: auto;
        border-radius: 30% 0;
        box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.4);
      }
    }

    h1 {
      text-align: center;  
      color: $neutral;  
    }
    
    p { 
      text-align: center;
      max-width: 90%;
      margin: auto;
      color: $neutral;
    }
  }

  main {
    margin: 0;
    padding: 0;

    #projects {
      background-color: $secondary;

      h1 {
        text-align: center;
        color: $main;

        margin: auto;
        margin-bottom: 50px;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 8px;
        border-bottom: solid $main 4px; 
      }
      
      .project {
        width: 100%;
        padding: 10px 0;
        padding-bottom: 30px;
        margin: 0;
        text-align: center;
        
        a {
          text-decoration: none;

          img {
            width: 80%;
            box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.2);
          }
        }

        h3 {
          color: $main;
        }

        p {
          color: $main;
          text-align: center;
          margin: auto;
          width: 80%;
          padding-bottom: 20px;
        }
      }
    }
    
    #what-i-know {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff113d+0,ff6682+100 */
      background: #ff113d; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #ff113d 0%, #ff6682 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #ff113d 0%,#ff6682 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #ff113d 0%,#ff6682 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff113d', endColorstr='#ff6682',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      margin: 0;
      padding: 0;
      
      h1 {
        text-align: center;
        color: $neutral;

        margin: auto;
        margin-bottom: 50px;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 8px;
        border-bottom: solid $neutral 4px; 
      }

      ul {
        text-align: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        color: $neutral;
        padding-bottom: 50px;

        li {
          h2 {
            padding-top: 20px;
            color: $neutral;
          }

          .prog-shape {
            // background-color: lighten($tertiary, 0.8);
            background-color: rgba($neutral, 0.2);
            height: auto;
            width: 80%;
            margin: 20px auto;
            border-radius: 10px;

            p {
              color: lighten($tertiary, 60%);
              padding: 3px;
              margin: 0;
            }

            #html {
              background-color: $neutral;
              height: 25px;
              width: 85%;
              border-radius: 0 10px 0 10px;
            }

            #css {
              background-color: $neutral;
              height: 25px;
              width: 85%;
              border-radius: 0 10px 0 10px;
            }

            #javascript {
              background-color: $neutral;
              height: 25px;
              width: 85%;
              border-radius: 0 10px 0 10px;
            }
            
            #node {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #bootstrap {
              background-color: $neutral;
              height: 25px;
              width: 75%;
              border-radius: 0 10px 0 10px;
            }

            #php {
              background-color: $neutral;
              height: 25px;
              width: 55%;
              border-radius: 0 10px 0 10px;
            }

            #sql {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #python {
              background-color: $neutral;
              height: 25px;
              width: 75%;
              border-radius: 0 10px 0 10px;
            }

            #django {
              background-color: $neutral;
              height: 25px;
              width: 15%;
              border-radius: 0 10px 0 10px;
            }

            #c {
              background-color: $neutral;
              height: 25px;
              width: 65%;
              border-radius: 0 10px 0 10px;
            }

            #git {
              background-color: $neutral;
              height: 25px;
              width: 75%;
              border-radius: 0 10px 0 10px;
            }
          }

          h4 {
            display: inline-block;
            padding-right: 5px;
            margin: auto;
            letter-spacing: 2px;
            font-size: 12px;
          }

          .plus {
            display: inline-block;
            padding: 5px;
            border: 2px solid $neutral;
            border-radius: 10px;
            margin: 3px;
            letter-spacing: 1px;
            font-size: 12px;
          }
        }
      }
    }

    #about-me {
      margin: 0;
      height: auto;
      background-color: $neutral;

      h1 {
        text-align: center;
        color: $main;

        margin: auto;
        margin-bottom: 50px;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 8px;
        border-bottom: solid $main 4px; 
      }
      
      p {
        margin: 0;
        padding: 30px;
        color: $main;
      }
    }
  }
  
  footer {    
    background-color: $secondary;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7cdb29+0,9bdd00+100 */
    background: #7cdb29; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7cdb29 0%, #9bdd00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7cdb29 0%,#9bdd00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7cdb29 0%,#9bdd00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cdb29', endColorstr='#9bdd00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 0;
    padding: 0;
    
    #contact {
      padding-bottom: 30px;

      h1 {
        text-align: center;
        color: black;

        margin: auto;
        margin-bottom: 50px;
        width: fit-content;
        padding-top: 50px;
        padding-bottom: 8px;
        border-bottom: solid black 4px; 
      }

      ul {
        margin: 0;
      }
    }

    p {
      text-align: center;
      margin: 0;
    }
  }
}