body {
  font-family: 'Montserrat', sans-serif;
  background: #D0E1F9;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body header {
  height: auto;
  background-color: #1e1f26;
}

body header nav {
  text-align: center;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

@media (min-width: 840px) {
  body header nav ul {
    padding-left: 40px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

body header nav ul li {
  padding: auto;
  margin: 20px 10px;
  font-size: 18px;
  color: #D0E1F9;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media (min-width: 840px) {
  body header nav ul li {
    margin-right: 30px;
  }
}

@media (min-width: 840px) {
  body header nav ul li:hover {
    color: #4D648D;
  }
}

body header #my-pic {
  padding-top: 70px;
}

body header #my-pic img {
  display: block;
  margin: auto;
  width: 150px;
  height: auto;
  border-radius: 30% 0;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.4);
}

@media (min-width: 840px) {
  body header #my-pic img {
    width: 260px;
  }
}

body header h1 {
  text-align: center;
  color: #D0E1F9;
  padding-top: 50px;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

@media (min-width: 840px) {
  body header h1 {
    font-size: 40px;
    letter-spacing: 1.2px;
  }
}

body header h1 .small {
  font-size: 16px;
  font-weight: none;
}

body header #sub {
  text-align: center;
  max-width: 70%;
  margin: auto;
  padding-bottom: 60px;
  color: #D0E1F9;
  line-height: 30px;
}

@media (min-width: 840px) {
  body header #sub {
    padding-bottom: 200px;
    letter-spacing: 1px;
  }
}

body #experience {
  margin: 0;
  padding: 0;
}

body #experience h1 {
  text-align: center;
  color: #1e1f26;
  margin: auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 8px;
  border-bottom: solid #1e1f26 4px;
}

@media (min-width: 840px) {
  body #experience h1 {
    font-size: 40px;
  }
}

body #experience #all-experience {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  list-style-type: none;
}

@media (min-width: 840px) {
  body #experience #all-experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body #experience #all-experience .place {
  padding: 60px;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

@media (min-width: 840px) {
  body #experience #all-experience .place {
    width: 500px;
    padding: 50px 0;
  }
}

body #experience #all-experience .place a {
  text-decoration: none;
  color: #1e1f26;
}

body #experience #all-experience .place a img {
  max-height: 120px;
  max-width: 200px;
}

@media (min-width: 840px) {
  body #experience #all-experience .place a img {
    max-width: none;
  }
}

body #experience #all-experience .place h3 {
  color: #1e1f26;
  margin: auto;
  padding: 20px 0;
  padding-top: 40px;
  width: 80%;
}

@media (min-width: 840px) {
  body #experience #all-experience .place h3 {
    font-size: 22px;
  }
}

body #experience #all-experience .place p {
  color: #1e1f26;
  margin: auto;
  line-height: 22px;
  width: 80%;
  padding-bottom: 20px;
}

body #experience #all-experience .place ul {
  list-style-type: none;
  padding: 0;
  max-width: 80%;
  margin: auto;
  display: block;
}

body #experience #all-experience .place ul li {
  font-weight: 600;
  padding: 5px;
}

body #projects {
  margin: 0;
  padding: 0;
}

body #projects h1 {
  text-align: center;
  color: #1e1f26;
  margin: auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 8px;
  border-bottom: solid #1e1f26 4px;
}

@media (min-width: 840px) {
  body #projects h1 {
    font-size: 40px;
  }
}

@media (min-width: 840px) {
  body #projects #all-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body #projects #all-projects .project {
  width: 100%;
  padding: 10px 0;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

@media (min-width: 840px) {
  body #projects #all-projects .project {
    width: 500px;
    padding: 50px 0;
  }
  body #projects #all-projects .project a h3 {
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
  body #projects #all-projects .project a:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  body #projects #all-projects .project a:hover h3 {
    color: #4D648D;
  }
}

body #projects #all-projects .project a {
  text-decoration: none;
}

body #projects #all-projects .project a img {
  width: 80%;
  -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 840px) {
  body #projects #all-projects .project a img {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: opacity(90%);
            filter: opacity(90%);
  }
}

body #projects #all-projects .project a h3 {
  color: #1e1f26;
  margin: auto;
  padding: 20px 0;
  width: 80%;
}

@media (min-width: 840px) {
  body #projects #all-projects .project a h3 {
    font-size: 22px;
  }
}

body #projects #all-projects .project p {
  color: #1e1f26;
  margin: auto;
  line-height: 22px;
  width: 80%;
  padding-bottom: 20px;
}

body footer {
  margin: 0;
  padding: 0;
}

body footer #contact {
  margin: auto;
  padding-bottom: 30px;
}

body footer #contact h1 {
  text-align: center;
  color: #1e1f26;
  margin: auto;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 8px;
  border-bottom: solid #1e1f26 4px;
}

@media (min-width: 840px) {
  body footer #contact h1 {
    font-size: 40px;
    margin-bottom: 80px;
  }
}

body footer #contact #icons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

body footer #contact #icons a {
  margin: auto;
  padding: 10px;
  text-decoration: none;
}

@media (min-width: 840px) {
  body footer #contact #icons a {
    padding: 20px;
  }
}

body footer #contact #icons a .svg {
  fill: #1e1f26;
}

@media (min-width: 840px) {
  body footer #contact #icons a .svg {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 840px) {
  body footer #contact #icons a .svg:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    fill: #4D648D;
  }
}

body footer #lang {
  padding: 40px 10px;
}

body footer #lang a {
  color: #1e1f26;
}

body footer #lang a:hover {
  text-decoration: none;
}

body footer p {
  text-align: center;
  margin: 0;
  color: #1e1f26;
  letter-spacing: 1px;
  font-size: 12px;
}

body footer .final {
  padding-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */