body {
    margin: 0;
}

#container {
    height: 100vh;
    width: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: bold;
}

h1 {
    margin: 0;
}

#hitbox {
    position: relative;
    padding: 10em 20em 0 20em;
}